.geralCard {
    width: 72rem;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    padding: 50px 10px;
    display:flex;
    flex-direction: column;
  }

.content2 {
    display: flex;
    junstify-content: center;
    align-itens: center;
    text-align: center;
    gap: 6vh;
    flex-direction: row;
    padding: 0vh 2vh;
  }
  
  .content2 h1 {
    font-family: "Paralucent";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
  
  .content2 p {
    font-family: "Campton";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }

  @media screen and (min-width: 2561px) {

        .geralCard {
          width: 80%;
        }
        
    .content2 {
        gap: 31em;
    }
    
    .content2 h1 {
        font-size: 2rem;
        line-height: 1.5;
      }
    
      .content2 p {
        font-size: 2vh;
        line-height: 1.5;
      }
  }